# Vim noise
*.swp
~*

# Java stuff
*.class
*.jar

# Eclipse
.classpath
.project
.settings/

# Something is adding .gitignore files to subdirectories
# and its really annoying
.gitignore

# Local build stuff
spigot/
